<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detalhe da sobremesa</title>
    <link rel="stylesheet" href="/css/Sobremesa/detalharSobremesa.css">
</head>
<body>
    <h1>Detalhes da Bebida</h1>
    <div class="formato">
    <ul>
        <li><b>Nome:</b> {{bebidas.nome}}</li>
        <li><b>ingredientes:</b> {{bebidas.ingredientes}}</li>
        <li><b>preço:</b> {{bebidas.preco}}</li>
</ul>
</div>
<a href="/Bebida" class="voltar">❮ Voltar</a>
</body>
</html>