<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Tela cadastrar pessoas</h1>

    <form action="/pessoas" method="post">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" required>
    <label for="nome">idade:</label>
    <input type="number" name="idade" required>
    <label for="nome">Raça:</label>
    <input type="text" name="raca" required>
    <label for="nome">EXP:</label>
    <input type="number" name="EXP" required>
    <button type="submit" style="cursor: pointer;">Cadastrar</button>
    
    </form>
</body>
</html>