<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Listar humaninho</h1>

    <p>Nome: {{pessoa.nome}}</p>
    <p>Idade: {{pessoa.idade}}</p>
    <p>Raça: {{pessoa.raca}}</p>
    <p>EXP: {{pessoa.EXP}}</p>
<h1><a href="http://localhost:3000" style="text-decoration: none; color:black" >voltar</a></h1>
</body>
</html>