<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Listar Humanos (Que não tem direitos)</title>
</head>
<body>
    
    <h1>Listar Pessoas</h1>

    <ul>
        {{#each pessoas}}
            <li>
                <a href="/pessoas/{{id}}">{{nome}}</a>
                <a href="/pessoas/{{id}}/editar">editar</a>

                <form action="/pessoas/{{id}}/excluir" method="post" style="display: inline;">
                 <button type="submit" onclick="return confirm('Tem certeza que quer remover o penis?')">
                    excluir
                 </button>
                </form>

            </li>
        {{/each}}
    </ul>

</body>
</html>