@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@400;700&display=swap');
body{
    background-color:black;
    display:flex;
    height: 100vh;
}
.custom-shape-divider-bottom-1764665432 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1764665432 svg {
    position: relative;
    display: block;
    width: calc(133% + 1.3px);
    height: 327px;
}

.custom-shape-divider-bottom-1764665432 .shape-fill {
    fill: #d4a65a;
    z-index: 1;
}

.formato{
    display: flex;
    gap:8vw;
    margin-top: 50vh;
    margin-left: 25vw;
    z-index: 2;

}

.titulo{
    color: white;
    font-family: "Playwrite CU", cursive;
    position: absolute;
    left: 42%;
    top:10%;
    z-index: 1;
    font-size: 40px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7em;
    padding: 0.5em;
    border-radius: 1em;
    width:10vw;
    height:30vh;
    border: 3px solid hsl(0,0%,100%,0.3);
    background: hsl(0,0%, 100%, 0.2);
    backdrop-filter: blur(2px);
    font-size: larger;
    transition: all 0.7s ease;

}
.card>img{
    height: auto;
    width: 3vw;
}
a{
    text-decoration: none;
    color: white;
}
.card:hover{
    background:hsla(34, 57%, 70%, 0.2);
    transform: scale(1.1);

}
.voltar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 8%;
    left: 2%;
    font-family: monospace;
    background-color: white;
    font-size: 20px;
    width: 8vw;
    height: 7vh;
    border: 2px solid burlywood;
    border-radius: 10px;
    color: burlywood;
    text-decoration: none;
    background-color:#3B2A27;
    transition: 0.4s ease;
}
.voltar:hover{
    background-color: #4A3A36;
}